@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWyV9hrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOUuhs.ttf) format('truetype');
}
.lds-ellipsis {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #2F4F4F;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
body,
html {
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
}
header {
  background: #2F4F4F;
  border-bottom: 2px solid #DCDCDC;
}
footer {
  background: #2F4F4F;
  padding: 3%;
  color: #F5F5F5;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: right;
}
.header-container {
  position: relative;
  margin-right: 7%;
  margin-left: 7%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
.header-container .header-title {
  margin-top: auto;
  bottom: 0;
  font-weight: 800;
  border-bottom: 2px solid #DCDCDC;
}
.header-container a {
  text-decoration: none;
  color: #DCDCDC;
}
.header-container .header-menu {
  display: flex;
  flex-direction: row;
}
.header-container .menu-about,
.header-container .menu-create {
  bottom: 0;
  margin-top: auto;
  padding-left: 8px;
  padding-right: 8px;
}
.header-container .menu-about:hover p,
.header-container .menu-create:hover p {
  font-weight: 800;
}
.header-container .header-menu p {
  margin-bottom: 0;
  font-size: 1.2rem;
  border-bottom: 2px solid #DCDCDC;
  font-weight: 400;
}
@media (min-width: 992px) {
  .header-container {
    flex-direction: row;
  }
  .header-title {
    width: 70%;
  }
  .header-title p {
    font-size: 2.5rem;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media (max-width: 992px) {
  .header-container {
    flex-direction: row;
  }
  .header-title {
    width: 70%;
  }
  .header-title p {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media (max-width: 576px) {
  .header-container {
    flex-direction: column;
  }
  .header-title {
    text-align: center;
  }
  .header-menu {
    justify-content: flex-end;
  }
  .header-title {
    width: 100%;
  }
  .header-title p {
    font-size: 1.2rem;
    margin-bottom: 4px;
  }
}
.welcome-container {
  display: flex;
  justify-content: center;
}
.welcome-image-container {
  text-align: center;
}
.welcome-text-container {
  color: #696969;
  text-align: justify;
  border: 2px solid #2F4F4F;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.welcome-title {
  font-weight: 700;
  font-size: 2.5rem;
}
.welcome-title p {
  margin-top: 0;
  margin-bottom: 16px;
}
.gallery-text {
  font-weight: 700;
  font-size: 0.9rem;
  color: #696969;
}
.separator {
  border-bottom: 2px solid #2F4F4F;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
}
.showcase-container {
  border: 2px solid #2F4F4F;
  padding-left: 4%;
  padding-right: 4%;
}
.showcase-label {
  display: flex;
  justify-content: space-between;
  color: #696969;
  margin-top: 2%;
  margin-bottom: 3%;
  border-bottom: 2px solid #2F4F4F;
}
.showcase-label .showcase-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 4px;
  margin-right: 4%;
}
.showcase-label .showcase-text {
  font-size: 1.2rem;
  text-align: right;
}
.gallery {
  margin-top: 2%;
  margin-bottom: 2%;
}
.gallery-entry {
  display: flex;
}
.gallery-style-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-generated-frame {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}
.gallery-generated-frame img {
  max-height: 100%;
  width: 100%;
}
.gallery-style-frame,
.gallery-content-frame {
  margin: 8px;
}
.gallery-style-frame img,
.gallery-content-frame img {
  max-height: 100%;
  max-width: 100%;
}
@media (min-width: 1200px) {
  .welcome-image-container img {
    height: 387px;
    width: 387px;
    margin-right: 48px;
  }
  .welcome-text-container {
    width: 456px;
    height: 335px;
    font-size: 1rem;
  }
  .gallery-content-container {
    justify-content: center;
    width: 100%;
  }
  .gallery-style-container {
    margin-left: 3%;
    width: 100%;
  }
  .gallery-generated-frame {
    max-height: 512px;
    max-width: 512px;
    min-width: 512px;
  }
  .gallery-style-frame,
  .gallery-content-frame {
    height: 224px;
    width: 224px;
  }
}
@media (max-width: 1200px) {
  .welcome-container {
    flex-direction: row;
  }
  .welcome-text-container {
    font-size: 0.9rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    height: 314px;
    width: 391px;
  }
  .welcome-title {
    font-size: 2.5rem;
    margin-right: 3%;
  }
  .gallery-generated-frame {
    max-height: 512px;
    max-width: 512px;
    min-width: 512px;
  }
  .gallery-style-frame,
  .gallery-content-frame {
    max-height: 224px;
    max-width: 224px;
  }
  .welcome-image-container {
    text-align: center;
    margin-right: 16px;
  }
  .welcome-image-container img {
    height: 347px;
    width: 347px;
  }
}
@media (max-width: 992px) {
  .welcome-container {
    flex-direction: row-reverse;
  }
  .showcase-label {
    display: block;
    border: none;
  }
  .showcase-label .showcase-text {
    text-align: left;
  }
  .welcome-image-container {
    text-align: center;
    padding-left: 8px;
    margin-right: 0;
  }
  .welcome-text-container {
    text-align: left;
    font-size: 0.8rem;
    height: 315px;
  }
  .welcome-title {
    font-size: 1.5rem;
    margin-right: 3%;
  }
  .gallery-entry {
    flex-direction: column;
  }
  .gallery-generated-frame {
    max-height: 512px;
    max-width: 512px;
    min-width: 512px;
  }
  .gallery-style-frame,
  .gallery-content-frame {
    max-height: 224px;
    max-width: 224px;
  }
}
@media (max-width: 768px) {
  .welcome-container {
    flex-direction: column-reverse;
  }
  .welcome-text-container {
    max-width: 100%;
    text-align: left;
    font-size: 0.9rem;
    height: auto;
    width: auto;
  }
  .welcome-image-container {
    padding-top: 16px;
    padding-left: 0;
    text-align: center;
    position: relative;
  }
  .welcome-image-container img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
  .gallery-generated-frame {
    min-width: 316px;
  }
}
@media (max-width: 576px) {
  .showcase-label .showcase-title {
    text-align: center;
  }
  .showcase-label .showcase-text {
    text-align: center;
  }
  .gallery-generated-frame {
    min-width: auto;
  }
  .gallery-style-frame,
  .gallery-content-frame {
    max-height: 160px;
    max-width: 160px;
  }
}
form {
  margin-left: 3%;
}
.user-rating {
  direction: rtl;
  font-size: 20px;
  unicode-bidi: bidi-override;
  padding: 10px 0;
  display: inline-block;
}
.user-rating input {
  opacity: 0;
  position: relative;
  left: -15px;
  z-index: 2;
  cursor: pointer;
}
.user-rating span.star:before {
  color: #777777;
  content: "ï€†";
  /*padding-right: 5px;*/
}
.user-rating span.star {
  display: inline-block;
  font-family: FontAwesome, sans-serif;
  font-style: normal;
  font-weight: normal;
  position: relative;
  z-index: 1;
}
.user-rating span {
  margin-left: -15px;
}
.user-rating span.star:before {
  color: #777777;
  content: "\f006";
  /*padding-right: 5px;*/
}
.user-rating input:hover + span.star:before,
.user-rating input:hover + span.star ~ span.star:before,
.user-rating input:checked + span.star:before,
.user-rating input:checked + span.star ~ span.star:before {
  color: #2F4F4F;
  content: "\f005";
}
.selected-rating {
  color: #2F4F4F;
  font-weight: bold;
  font-size: 3em;
}
.upload-container {
  display: flex;
  position: relative;
}
.hide {
  display: none !important;
}
.content-image-upload-block,
.style-images-upload-block {
  flex: 1;
}
.label {
  font-size: 1.5rem;
  font-weight: 800;
  color: #696969;
}
.content-image-frame {
  position: relative;
}
.content-image-container,
.style-images-container {
  border: 2px solid #2F4F4F;
  text-align: center;
  padding: 2%;
}
.content-image-block {
  width: 86%;
  display: inline-block;
}
.content-upload {
  margin-bottom: 8px;
}
.input-button {
  font-weight: 800;
  font-size: 0.9rem;
  color: #2F4F4F;
  background: #F5F5F5;
  border: 2px solid #2F4F4F;
  width: 50%;
  cursor: pointer;
}
.input-button:disabled {
  opacity: 0.5;
}
.remove-button {
  width: 100%;
  font-weight: 800;
  font-size: 0.9rem;
  background-color: #2F4F4F;
  border: 2px solid #2F4F4F;
  color: #F5F5F5;
  cursor: pointer;
}
.remove-button:disabled {
  opacity: 0.5;
}
.content-image-text,
.style-images-text {
  background-color: #2F4F4F;
  padding: 2%;
  border: 2px solid #2F4F4F;
}
.content-image-text p,
.style-images-text p {
  color: #F5F5F5;
  text-align: center;
}
.content-image-container img,
.style-images-container img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.option-title {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #696969;
}
.more-info {
  position: relative;
  display: inline-block;
  color: #696969;
}
.more-info:hover .more-info-popup {
  visibility: visible;
}
.more-info:hover .more-info-popup2 {
  visibility: visible;
}
.more-info:hover .more-info-popup3 {
  visibility: visible;
}
.more-info:hover .more-info-popup4 {
  visibility: visible;
}
.more-info-popup,
.more-info-popup2,
.more-info-popup3,
.more-info-popup4 {
  visibility: hidden;
  width: 200px;
  background-color: #808080;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: -147px;
  padding: 8px;
}
.more-info-popup:after,
.more-info-popup2:after,
.more-info-popup3:after,
.more-info-popup4:after {
  content: "";
  position: absolute;
  left: 69%;
  margin-top: 117px;
  border-width: 9px;
  border-style: solid;
  border-color: #808080 transparent transparent transparent;
}
.more-info-popup {
  top: -247px;
}
.more-info-popup:after {
  top: 119px;
}
.more-info-popup2 {
  top: -142px;
}
.more-info-popup2:after {
  top: 9px;
}
.more-info-popup3 {
  top: -121px;
}
.more-info-popup3:after {
  top: -13px;
}
.more-info-popup4 {
  top: -206px;
}
.more-info-popup4:after {
  top: 75px;
}
.style-container {
  display: flex;
  flex-direction: row;
  height: 50%;
}
.style-container .style-block {
  display: block;
  width: 50%;
  margin-bottom: 2%;
}
.test-button-container {
  text-align: center;
  margin-top: 16px;
}
.test-button-container button {
  margin-bottom: 4px;
}
.test-button-container button:disabled {
  opacity: 0.5;
}
.test-button-container p {
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 700;
  color: #696969;
}
.loader-text {
  font-weight: 700;
  color: #2F4F4F;
  text-align: center;
}
.image-frame {
  position: relative;
  border: 1px solid #2F4F4F;
  margin-top: 4px;
  margin-bottom: 4px;
}
.content-image-upload-block {
  margin-right: 48px;
}
.style-images-upload-block .label {
  text-align: end;
}
.style-images-upload-block > p {
  text-align: end;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  background-color: #BDBDBD;
  height: 200px;
  width: 200px;
  text-align: center;
}
.generate-container {
  margin-top: 48px;
  text-align: center;
}
.generate-container p {
  font-weight: 700;
  color: #696969;
}
.button {
  font-weight: 800;
  font-size: 1.2rem;
  color: #2F4F4F;
  background-color: #F5F5F5;
  border: 3px solid #2F4F4F;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 32px;
}
.button:disabled {
  opacity: 0.5;
}
.button p {
  margin: 0;
}
.button:hover {
  cursor: pointer;
  color: #F5F5F5;
  background-color: #2F4F4F;
}
.save-container {
  font-weight: 800;
  font-size: 0.9rem;
  margin-top: 3%;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #2F4F4F;
  background-color: #F5F5F5;
}
.save-container p {
  color: #2F4F4F;
}
.save-container a {
  text-decoration: none;
}
.save-container:hover {
  cursor: pointer;
  background-color: #2F4F4F;
}
.save-container:hover p {
  color: #F5F5F5;
}
.result-image-container {
  text-align: center;
  position: relative;
  margin-bottom: 7%;
}
.result-image-container img {
  max-width: 100%;
}
.config-container {
  margin-top: 3%;
}
.config-container fieldset {
  border: none;
  font-weight: 700;
  color: #696969;
}
.config-container fieldset p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #696969;
}
.testing-container {
  position: relative;
  min-height: 60px;
}
.select-test-text {
  color: #696969;
  font-weight: 700;
  text-align: center;
}
.testing-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testing-image-block {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 16px;
}
.testing-image-block .test-img-select,
.testing-image-block .generate-type-select {
  height: 16px;
  width: 16px;
}
.testing-image-block label {
  color: #696969;
  font-weight: 700;
}
.more-info:hover {
  color: #2F4F4F;
  cursor: default;
}
.test-img {
  max-height: 100%;
  width: 100%;
  margin-bottom: 8px;
}
.check-text-container {
  text-align: center;
  position: relative;
}
.check-text-container p {
  color: #696969;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 2%;
}
.review-popup-container {
  background: #fff;
  position: relative;
  text-align: center;
}
.review-popup-container .text {
  margin-left: 10%;
  margin-right: 10%;
  color: #696969;
  font-weight: 700;
  font-size: 0.9rem;
}
.review-popup-container button {
  margin-top: 3%;
}
.style-upload .input-button {
  width: 100%;
}
.style-upload .input-button:disabled {
  opacity: 0.5;
}
@media (min-width: 992px) {
  .upload-container {
    flex-direction: row;
  }
  .content-image-container,
  .style-images-container {
    height: 480px;
  }
  .content-image-frame {
    height: 420px;
  }
  .content-image-container img {
    max-height: 410px;
  }
  .image-frame {
    height: 170px;
  }
  .style-images-container img {
    max-height: 100%;
  }
  .content-image-block {
    height: 440px;
  }
  .style-block {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 992px) {
  .upload-container {
    flex-direction: row;
  }
  .image-frame {
    height: 130px;
  }
  .content-image-container,
  .style-images-container {
    height: 400px;
  }
  .content-image-block {
    height: 360px;
  }
  .style-block {
    margin-left: 5%;
    margin-right: 5%;
  }
  .content-image-frame {
    height: 364px;
  }
  .content-image-container img {
    max-height: 362px;
  }
}
@media (max-width: 768px) {
  .upload-container {
    flex-direction: column;
  }
  .content-image-upload-block {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .style-images-upload-block .label {
    text-align: left;
  }
  .input-button {
    font-size: 0.7rem;
  }
  .content-image-container {
    height: 300px;
  }
  .style-images-container {
    height: 400px;
  }
  .style-block {
    margin-left: 1%;
    margin-right: 1%;
  }
  .content-image-frame {
    height: 258px;
  }
  .content-image-container img {
    max-height: 256px;
  }
}
.about-container {
  color: #696969;
  border: 2px solid #696969;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
  margin-bottom: 7%;
}
.about-container p {
  margin-right: 15%;
}
.about-container .about-title {
  font-weight: 800;
  font-size: 1.5rem;
  padding-bottom: 2%;
}
.about-container .about-text {
  font-weight: 700;
}
.about-images {
  margin-bottom: 15%;
}
body,
html {
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
}
.main-content {
  position: relative;
  margin-top: 2%;
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 6%;
}
/*# sourceMappingURL=style.css.map */